@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Prompt&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
  /* font-family: "Pattaya", sans-serif; */
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
