.footer-container{
    background-color: rgba(0, 0, 0, 0.733);
}
.footer-con{
    margin: 0 48px;
    padding: 8px;
}
.footer-con p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}